[Unit]
Description=My Python Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/usr/local/bot/arbitrage-bot/
ExecStart=/usr/local/bot/arbitrage-bot/venv/bin/python /usr/local/bot/arbitrage-bot/main.py
Restart=on-failure
# Other configurations you might want
# Environment=VARIABLE=value
# EnvironmentFile=/usr/local/bot/env_file

[Install]
WantedBy=multi-user.target
